/* Title */
.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-50px;
  }
  
  .title {
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bold;
    filter:drop-shadow(0px 4px 3px rgb(0 0 0 / 25%));
  }
  
  .subTitleWrapper {
    display: flex;
    margin-top:28vh;
    flex-direction: column;
    align-items: center;
  }
  
  .subTitle::after {
    content: "";
    display: block;
    animation: width 0.3s ease;
    width:100%;
    padding-top: 3px;
    border-bottom: 1px solid var(--globalColor);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%);
  }
  
  /* Header */
  .questNbr {
    display: flex;
    border: solid 4px var(--globalColor);
    border-radius: 100%;
    width: 72px;
    font-size:22px;
    height: 72px;
    justify-content: center;
    align-items: center;
  }
  
  .headerWrapper {
    display: flex;
    justify-content:space-between;
    padding: 45px 45px 0px 45px;
  }
  
  .githubLogoCircle {
    display: flex;
    border-radius: 100%;
    background: white;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in, box-shadow 0.3s ease;
  }
  
  .githubLogoCircle:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 5px 4px rgb(0 0 0 / 20%);
    transition: transform 0.2s ease-in, box-shadow 0.3s ease;
  }
  
  .githubLogo {
    width:64px;
    height:64px;
  }
  
  /* Start Button */
  .startButtonWrapper {
    display:flex;
    justify-content: center;
    margin:50px;
  }
  
  .startButton {
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    width:245px;
    height:70px;
    border: solid 2px var(--globalColor);
    transition: transform 0.3s ease;
  }
  
  .startButton:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--linear);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  .startButton::before {
    transform: scaleX(0);
    transform-origin: bottom left;
  }
  
  .startButton:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .startButton:hover {
    transition: transform 0.2s ease-out;
    transform: scale(1.07);
  }

  .startButton:active {
      transform: scale(0.98);
  }
  
  .startText {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  /* Questions */
  .secondDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .questionWrapper {
    display: flex;
    justify-content: center;
    gap:20px;
    transition: all 0.6s ease;
  }
  
  .question {
    content:'';
    border: solid 1px var(--globalColor);
    border-radius: 5px;
    max-width: 60%;
    font-size: 40px;
    padding: 20px 40px 20px 40px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  /* Choices */
  .choiceWrapper {
    display: flex;
    gap: 18vw;
    margin: 17vh 0 12vh 0;
    align-items: center;
  }
  
  .forAgainstButton { 
    height:auto;
    width:6rem;
    cursor: pointer;
    border: solid 1px var(--globalColor);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease, min-width 0.3s ease, height 0.3s ease;
  }
  
  .forAgainstButton:hover {
    transform: scale(1.15);
  }
  
  .forAgainstButtonClicked {
    margin-top:-6%;
    width:6rem;
    height:auto;
    background: rgba(128, 85, 161, 0.6);
    border: solid 1px var(--globalColor);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    transition: margin-top 0.4s ease, width 0.4s ease;
  }
  
  .forAgainstButtonDisabled {
    width: 6rem;
    border: solid 1px var(--globalColor);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    cursor:no-drop;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Next question */

  .nextButtonHidden {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:285px;
    text-align: center;
    cursor:pointer;
    border: solid 1px var(--globalColor);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 20px;
    opacity: 0;
  }

  @keyframes opacAnim {
    0%  {opacity: 0; }
    50% {opacity:  0;}
    100% {opacity: 1;}
  }
  
  .nextButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:285px;
    opacity: 1;
    text-align: center;
    cursor:pointer;
    border: solid 1px var(--globalColor);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 20px;
    animation: opacAnim 0.6s;
    transition : transform 0.2s ease,background 0.3s ease;
  }


 
  .nextButton:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--globalColor);
    z-index: -1;
    transition: transform .5s ease, border 0.5s ease;
    transform: scaleX(0);
    color: var(--globalBg2);
    transform-origin: bottom right;
  }
  
  .nextButton:hover {
    color : var(--globalBg2);
  }
  
  .nextButton:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .nextButton:active {
    transform: scale(0.98);
    border:none;
  }
  
  .finalDivWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:60px;
    margin-top:10px;
    align-items: center;
  }
  
  .resultButton {
    cursor: pointer;
    border: solid 1px var(--globalColor);
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    transition : all 0.3s ease;
  }
  
  .resultButton:hover {
    background:var(--globalColor);
    color : var(--globalBg1);
  }
  
  .resultButton:active {
    transform:scale(0.97);
  }
  
  .resultButton:hover {
    color : var(--globalBg1);
  }
  
  @media screen and (max-width:800px) {
  /*menu screen*/
    .titleWrapper {
      margin-top: unset;
    }
    .title {
      font-size: 10vw;
    }
    /*question screen */
    .secondDiv {
      margin-top:3vh;
    }
  
    .nextButton {
      font-size: 20px;
      width:39vw;
    }
  }